/* You can add global styles to this file, and also import other style files */
app-root.cvbn-navigation-bar-wrapper {
    margin-bottom: 5em;
    display: block;
    
}
body {
    background: rgb(240,240,240);
    margin: 0;
}